/venv/
/.idea/
/.idea/SearchImage.iml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea
/Local/
/bin/dist/
/bin/dist
/bin/build/
/bin/build
/bin/build/bdist.win32/winexe/collect-2.7
/image/素材10X9_250
/image/Screenshots
/venu
/venv2
/image/raid_phone/mt/
/core/耕地质量变更调查表.xls
/study_book/耕地质量变更调查表.xls
